<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<!--#<div class=''>
#  <% if current_user.admin? %>
     Merge articles
     <form name="merge" action=<%="/admin/content/merge/" + @article.id.to_s %> method="post" %>
      Article ID : <%= text_field_tag 'merge_with' %>
      <br>
     <input type="submit" value="Merge Articles"%>
  <% end %>
</div> -->
